<template>
<div>
    <div class="container">
            <div class="row">
            <div class="col-sm-10 col-xs-8">
                <input type="text" name="message" v-model="newMessage" @keyup.enter="sendMessage" class="form-control" id="" placeholder="Type your message here..." />
            </div>
            <div class="col-sm-2 col-xs-4">
                <button type="submit" class="btn btn-success btn-block" @click="sendMessage">Send</button>
            </div>
            </div>
    </div>
</div>
<!-- <div class="input-group">
    <input id="btn-input" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage">

    <span class="input-group-btn">
        <button class="btn btn-primary btn-sm" id="btn-chat" @click="sendMessage">
            Send
        </button>
    </span>
</div> -->
</template>

<script>
    export default {
        props: ['user'],

        data() {
            return {
                newMessage: ''
            }
        },

        methods: {
            sendMessage() {
                this.$emit('messagesent', {
                    user: this.user,
                    message: this.newMessage
                });

                this.newMessage = ''
            }
        }    
    }
</script>
<style>
.page-header {
	background: #006A4E;
	margin: 0;
    padding: 20px 0 10px;
	color: #FFFFFF;
	position: fixed;
	width: 100%;
    z-index: 1
}
.main {
	height: 100vh;
	padding-top: 70px;
}

.chat-log {
	padding: 40px 0 114px;
	height: auto;
	overflow: auto;
}
.chat-log__item {
	background: #fafafa;
	padding: 10px;
	margin: 0 auto 20px;
	max-width: 80%;
	float: left;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	clear: both;
}

.chat-log__item.chat-log__item--own {
	float: right;
	background: #DCF8C6;
	text-align: right;
}

.chat-log__author {
	margin: 0 auto .5em;
	font-size: 14px;
	font-weight: bold;
}

</style>