<template>
<div class="chat-log">
    <div :class="message.user.role == 2 ? 'chat-log__item' : message.user.role == 3 ? 'chat-log__item chat-log__item--own' : ''" v-for="message in messages" :key="message.id">
            <h3 class="chat-log__author">{{ message.user.name }} <small>{{ message.created_at }}</small></h3>
            <div class="chat-log__message">{{ message.message }}</div>
    </div>
</div>
</template>

<script>
  export default {
    props: ['messages']
  };
</script>
<style>
.page-header {
	background: #006A4E;
	margin: 0;
    padding: 20px 0 10px;
	color: #FFFFFF;
	position: fixed;
	width: 100%;
  z-index: 1
}
.main {
	height: 100vh;
	padding-top: 70px;
}

.chat-log {
	padding: 40px 0 114px;
	height: auto;
	overflow: auto;
}
.chat-log__item {
	background: #fafafa;
	padding: 10px;
	margin: 0 auto 20px;
	max-width: 80%;
	float: left;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	clear: both;
}

.chat-log__item.chat-log__item--own {
	float: right;
	background: #DCF8C6;
	text-align: right;
}

.chat-form {
	background: #DDDDDD;
	padding: 40px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.chat-log__author {
	margin: 0 auto .5em;
	font-size: 14px;
	font-weight: bold;
}
</style>