<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="card" style="width: 100rem;">
                        <img :src="`/image/banner/${committee.banner}`" class="card-img-top">
                        <div class="card-body">
                        <img :src="`/image/profile/${committee.photo}`" class="rounded-circle mb-3">
                            <h5 class="card-title">{{ committee.name }}</h5>
                            <p class="card-text">{{ committee.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            committee: {}
        }
    },
    mounted() {
        this.id = this.$route.params.id
        this.getCommittee()
    },
    methods: {
        getCommittee() {
            axios.get('/admin/committee/'+this.id).then(({ data }) => (this.committee = data));
        }
    }
}
</script>
<style type="text/css">
    .card-img-top {
        background-position: center center;
		background-size: cover;
        height: 200px;
    }
    .rounded-circle {
        margin-top: -70px;
        height: 100px;
    }
</style>