<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                        <a class="nav-link" id="v-pills-committee-tab" data-toggle="pill" href="#v-pills-committee" role="tab" aria-controls="v-pills-committee" aria-selected="false">Committee</a>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">User Type</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="user in users" :key="user.id" v-show="user.role != 1">
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.role == 2 ? 'Applicant' : user.role == 3 ? 'Committee' : '' }}</td>
                                            <td><span :class="user.approved_at == null ? 'badge badge-danger' : 'badge badge-success'">{{ user.approved_at == null ? 'NOT APPROVE' : 'APPROVED' }}</span></td>
                                            <td>
                                                <button type="submit" @click="approveModal(user)" v-show="user.approved_at == null" class="btn btn-sm btn-success">Approve</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="v-pills-committee" role="tabpanel" aria-labelledby="v-pills-committee-tab">
                                <div class="row">
                                    <div v-for="user in users" :key="user.id" v-show="user.role == 3" class="card" style="width: 12rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ user.name }}</h5>
                                            <span :class="user.approved_at == null ? 'badge badge-danger' : 'badge badge-success'">{{ user.approved_at == null ? 'NOT APPROVE' : 'APPROVED' }}</span>
                                            <p class="card-text">
                                                Date of Approval: <br>
                                                {{ user.approved_at }}
                                            </p>
                                            <router-link v-bind:to="'admin/committee/'+user.id" class="btn btn-primary btn-sm">VIEW</router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="approveUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Approve {{ form.role == 2 ? 'Applicant' : form.role == 3 ? 'Committee' : '' }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form @submit.prevent="approveUser()">
                                <div class="modal-body">
                                <b> {{form.name}} </b>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Approve</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                users: {},
                form: new Form({
                    id: '',
                    name: '',
                    role: '',
                    approved_at: ''
                })
            }
        },
        methods: {
            getUsers() {
                axios.get('/users').then(({ data }) => (this.users = data));
            },
            approveModal(users) {
                this.editmode = true;
                this.form.reset();
                $('#approveUserModal').modal('show');
                this.form.fill(users);
            },
            approveUser() {
               this.form.put('user/'+this.form.id)
               window.location.href = '/admin'
            }
        },
        created() {
            this.getUsers()
        }
    }
</script>