<template>
    <div class="container">
        <h1 class="text-center">Committees</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    <div v-for="c in committees" :key="c.id" v-show="c.role == 3" class="card" style="width: 18rem;">
                        <img :src="`/image/profile/${c.photo}`" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ c.name }}</h5>
                            <p class="card-text">{{c.created_at}}</p>
                            <router-link v-bind:to="'applicant/committee/'+c.id" class="btn btn-primary btn-sm">VIEW</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                committees: {}
            }
        },
        methods: {
            getCommittees() {
                axios.get('/users').then(({ data }) => (this.committees = data));
            },
        },
        created() {
            this.getCommittees()
        }
    }
</script>
