<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="card" style="width: 100rem;">
                        <div class="banner" v-bind:style="{ backgroundImage: 'url(' + getProfileBanner() + ')' }">
					    </div>
                        <div class="card-body">
                        <img :src="getProfilePhoto()" class="rounded-circle">
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" roleb="tab" aria-controls="home" aria-selected="true">Account</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Settings</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"  href="/chat" role="tab" aria-selected="false">Chat with Applicants</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="card" style="width: 100rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ form.name }}</h5>
                                    <p class="card-text">{{ form.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                        <div class="card" style="width: 100rem;">
                            <div class="card-body">
                            <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>

                                <div class="col-sm-10">
                                <input type="text" v-model="form.name" class="form-control" id="inputName" placeholder="Name" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                <input type="email" v-model="form.email" class="form-control" id="inputEmail" placeholder="Email" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Profile Photo</label>
                                <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                    <input type="file" @change="updateProfile" name="photo" class="form-input">
                                    </label>
                                </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Banner</label>
                                <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                    <input type="file" @change="updateBanner" name="banner" class="form-input">
                                    </label>
                                </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                <div class="input-group col-md-8">
                                    <input type="password" v-model="form.password" class="form-control" v-show="!showPass" placeholder="Password" :class="{ 'is-invalid': form.errors.has('password') }">	
                                <input type="text" v-model="form.password" class="form-control" v-show="showPass" placeholder="Password" :class="{ 'is-invalid': form.errors.has('password') }">	
                    
                                <has-error :form="form" field="password"></has-error>
                                <span class="input-group-append">
                                    <button class="btn btn-primary m-t-1" @click.prevent="showPass = !showPass"><span v-show="!showPass">Show Password</span><span v-show="showPass">Hide Password</span></button>
                                </span>
                            </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                <button @click.prevent="updateInfo" type="submit" class="btn btn-success btn-flat">Update</button>
                                </div>
                            </div>
                            </form>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showPass: false,
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    photo: '',
                    banner: '',
                    password: '',
                })
            }
        },
        methods: {
            getUser()
            {
                axios.get('/profile')
		        .then(({ data }) => (this.form.fill(data)));
            },
            getProfilePhoto()
            {
                let photo = (this.form.photo.length > 200) ? this.form.photo : "image/profile/" + this.form.photo;
                return photo;
                return "image/profile/"+ this.form.photo;
            },
            getProfileBanner()
            {
                let banner = (this.form.banner.length > 200) ? this.form.banner : "image/banner/" + this.form.banner;
                return banner;
                return "image/banner/"+ this.form.banner;
            },
            updateInfo()
            {
                this.form.put('/profile')
                window.location.href = 'committee'
            },
            updateProfile(e)
            {	
                let file = e.target.files[0];
                console.log(file);
                let reader = new FileReader();
                if (file['size'] < 2111775) {
                    reader.onloadend = (file) => {
                    this.form.photo = reader.result;
                    }
                    reader.readAsDataURL(file);
                } else {
                    console.log('Large file.')
                }
            },
            updateBanner(e)
            {	
                let file = e.target.files[0];
                console.log(file);
                let reader = new FileReader();
                if (file['size'] < 2111775) {
                    reader.onloadend = (file) => {
                    this.form.banner = reader.result;
                    }
                    reader.readAsDataURL(file);
                } else {
                    console.log('Large file.')
                }
            }
        },
        created() {
            this.getUser()
        }
    }
</script>
<style type="text/css">
    .banner {
        background-position: center center;
		background-size: cover;
        height: 300px;
    }
    .rounded-circle {
        margin-top: -100px;
        height: 150px;
        border-style: solid;
        border-width: medium;
        border-color: white;
    }
</style>